<div class="dialog-header">
  <button mat-icon-button (click)="onCancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<h1 mat-dialog-title class="dialog-title">
  {{ data.id && data.id > 0 ? "Edit" : "Add" }}
</h1>
<div mat-dialog-content class="dialog-content">
  <form [formGroup]="form" class="dialog-form">
    <app-dynamic-input
      [formGroup]="form"
      controlName="name"
      label="Name"
      controlType="text"
      [required]="true"
    >
    </app-dynamic-input>

    <app-dynamic-input
      [formGroup]="form"
      controlName="description"
      label="Description"
      controlType="text"
    >
    </app-dynamic-input>

    <app-dynamic-input
      [formGroup]="form"
      controlName="responsibilities"
      label="Responsibilities"
      controlType="text"
    >
    </app-dynamic-input>

    <app-dynamic-input
      [formGroup]="form"
      controlName="skills"
      label="Skills"
      controlType="text"
    >
    </app-dynamic-input>

    <app-dynamic-input
      [formGroup]="form"
      controlName="jobCategory"
      label="Job Category"
      controlType="text"
      [required]="true"
    >
    </app-dynamic-input>

    <app-dynamic-input
      [formGroup]="form"
      controlName="validFrom"
      label="ValidFrom"
      controlType="date"
      [required]="true"
    >
    </app-dynamic-input>

    <app-dynamic-input
      [formGroup]="form"
      controlName="validTo"
      label="ValidTo"
      controlType="date"
      [required]="true"
    >
    </app-dynamic-input>

    <app-dynamic-input
      [formGroup]="form"
      controlName="maxApplications"
      label="Max Applications"
      controlType="number"
      [required]="true"
    >
    </app-dynamic-input>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()" class="dialog-button">
    {{ "Cancel" }}
  </button>
  <button
    mat-button
    (click)="onSave()"
    class="dialog-button"
    [disabled]="form.invalid"
  >
    {{ "Save" }}
  </button>
</div>
