<div class="dialog-header">
  <button mat-icon-button (click)="onCancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<h1 mat-dialog-title class="dialog-title">
  {{ data.id ? "EditItem" : "AddItem" }}
</h1>
<div mat-dialog-content class="dialog-content">
  <form [formGroup]="form" class="dialog-form">
    <app-dynamic-input
      [formGroup]="form"
      controlName="name"
      label="Name"
      controlType="text"
      [required]="true"
    >
    </app-dynamic-input>

    <app-dynamic-input
      [formGroup]="form"
      controlName="email"
      label="Email"
      controlType="text"
      [required]="true"
    >
    </app-dynamic-input>

    <app-dynamic-input
      [formGroup]="form"
      controlName="mobileNumber"
      label="MobileNumber"
      controlType="text"
      [required]="true"
    >
    </app-dynamic-input>


    <app-dynamic-input 
    [options]="jobTitles"
    [valueProperty]="'id'"
    [nameProperty]="'name'"
    [formGroup]="form" controlName="jobTitleId"
    label="Job Title" placeholder="Select Job Title" 
    controlType="select"
    [required]="true"
    [isMultiple]="false">
</app-dynamic-input>


  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()" class="dialog-button">
    {{ "Cancel" }}
  </button>
  <button
    mat-button
    (click)="onSave()"
    class="dialog-button"
    [disabled]="form.invalid"
  >
    {{ "Save" }}
  </button>
</div>
