.navbar {
    padding: 1rem;
  }
  
  .navbar-brand img {
    margin-right: 10px;
  }
  
  .nav-item .nav-link {
    color: #ffffff !important;
    margin-right: 20px;
  }
  
  .nav-item .nav-link:hover {
    color: #cccccc !important;
  }
  
  .nav-item .btn {
    color: #f8f9fa;
    border-color: #f8f9fa;
  }
  
  .nav-item .btn:hover {
    color: #343a40;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
  